<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="renderer" content="webkit">
    <title>SSMFrameWork后台登录</title>
    <link rel="shortcut icon" href="./favicon.ico">
    <link rel="stylesheet" href="resources/css/pintuer.css">
    <link rel="stylesheet" href="resources/css/admin.css">
    <script type="text/javascript" src="resources/js/jquery.js"></script>
    <script type="text/javascript" src="resources/js/jquery.form.js"></script>
    <script type="text/javascript" src="resources/plugins/layer/layer.js"></script>
    <script type="text/javascript" src="resources/js/pintuer.js"></script>
</head>
<body>
<div class="bg"></div>
<div class="container">
    <div class="line bouncein">
        <div class="xs6 xm4 xs3-move xm4-move">
            <div style="height:150px;"></div>
            <div class="media media-y margin-big-bottom">
            </div>
            <form id="loginForm">
                <div class="panel loginbox">
                    <div class="text-center margin-big padding-big-top"><h1>SSMFrameWork 后台管理中心</h1></div>
                    <div class="panel-body" style="padding: 10px 30px;">
                        <div class="form-group">
                            <div class="field field-icon-right">
                                <input type="text" class="input input-big" name="username" id="username"
                                       placeholder="登录账号" data-validate="required:请填写账号"/>
                                <span class="icon icon-user margin-small"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="field field-icon-right">
                                <input type="password" class="input input-big" name="password" id="password"
                                       placeholder="登录密码" data-validate="required:请填写密码"/>
                                <span class="icon icon-key margin-small"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="field">
                                <input type="text" class="input input-big" name="authCode" id="authCode"
                                       placeholder="填写右侧的验证码" data-validate="required:请填写右侧的验证码"/>
                                <img src="ssm_framework/back/getSecurityCode" alt="" width="100" height="32" class="passcode"
                                     style="height:43px;cursor:pointer;" title="看不清可单击图片刷新" id="imgCode"
                                     onclick="this.src='ssm_framework/back/getSecurityCode?rand='+Math.random();" >
                            </div>
                        </div>
                    </div>
                    <div style="padding:30px;">
                        <input id="login_btn" type="button" class="button button-block bg-main text-big input-big" value="登录">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    $(function () {
        //表单异步提交
        $("#login_btn").on("click", function () {
            $.ajax({
                type: 'post',
                data: $('#loginForm').serialize(),
                url: 'ssm_framework/back/login',
                cache: false,
                dataType: 'json',
                success: function (data) {
                    if (data.retCode === 2000) {
                        window.location.href = "toIndex"
                    } else {
                        //登录失败刷新图形验证码
                        $('#imgCode').attr("src", $('#imgCode').attr("src") + "?time=" + (new Date()).getTime());
                        //根据错误类型吸附提示信息
                        if (data.retCode === 2002 || data.retCode === 2005 || data.retCode === 2006) {
                            layer.tips(data.retMessage, '#username');
                        } else if (data.retCode === 2003 || data.retCode === 2007) {
                            layer.tips(data.retMessage, '#password');
                        } else if (data.retCode === 2004 || data.retCode === 2008) {
                            layer.tips(data.retMessage, '#authCode');
                        } else {
                            layer.msg(data.retMessage, {time: 3000, icon: 5});
                        }
                    }
                },
                error: function (data) {
                    layer.msg('操作异常，请稍后重试！', {time: 5000, icon: 5});
                    //登录失败刷新图形验证码
                    $('#imgCode').attr("src", $('#imgCode').attr("src") + "?time=" + (new Date()).getTime());
                }
            })
        });
        //Enter触发登录提交事件
        $(document).keydown(function (event) {
            if (event.keyCode === 13) {
                $('#login_btn').triggerHandler('click');
            }
        });
    });
</script>
</html>